@using Kendo.Mvc.UI
@model BassWebV3.ViewModels.CaseNoteFiles
    <style>
    .k-button.k-grid-delete {
        background-image: url('../../Content/themes/base/images/trash.ico');
    }
    .k-button.k-grid-edit{
        background-image: url('../../Content/themes/base/images/edit1.ico');
    }
    </style>
<div class="divCaseNoteFileMain" style="border: 1px lightblue solid;width:98%!important">
    <div class="divOffenderPart1tab">
        <div class="divOffenderPart1tr" style="color:#3465A4;"><b>CASE NOTES&nbsp;</b></div>
    </div>
    <div class="divOffenderPart1tab" style="border: 1px lightblue solid;max-height:45%;">
       @if (!Model.HideCaseNote)
       {
           { Html.RenderAction("GetCaseNoteView", new { episodeID = Model.EpisodeID, Editable = Model.CanEditNote }); }
       }
       else
       {
           <div style="color:goldenrod;font-style:italic;"><center><b>No Permission to view notes</b></center></div>
       }
    </div>
    <div class="divOffenderPart1tr"><span style="width:100%;height:10PX;"></span></div>
    @*<div class="divOffenderPart1tab">
        <div class="divOffenderPart1tr" style="margin:2px; width:100%;"></div>
    </div>*@
    <div class="divOffenderPart1tab">
       <div class="divOffenderPart1tr" style="color:#3465A4;"><b>UPLOAD FILES&nbsp;</b></div>  
    </div>
    <div class="divOffenderPart1tab" style="border: 1px lightblue solid;max-height:40%;">
        @if (!Model.HideDocument)
        {
        @(Html.Partial("_DocUploadView", new BassWebV3.ViewModels.DocUpload { EpisodeId = Model.EpisodeID, ViewOnly = !Model.CanUploadFile }))
        }
        else
        {
            <div style="color:goldenrod;font-style:italic;"><center><b>No Permission to view documents</b></center></div>
        }
     </div>
    </div>
