################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BassIdentityManagement/bin/Debug
/BassIdentityManagement/bin/Release
/BASSWEBV3/obj/Debug
/BASSWEBV3/obj/Release
/.vs/BASSWEBV3/v14
/BASSWEBV3/BASSDoc
/BASSWEBV3/Properties/PublishProfiles
