################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BassIdentityManagement/bin/Debug
/BassIdentityManagement/bin/Release
/BASSWEBV3/obj/Debug
/BASSWEBV3/obj/Release
