/*.highlight { color: #3465A4;  }*/
.editHeaderItem {
  display: flex;  
  flex-flow: row nowrap;
  margin-top:5px;
  width:100vw;
  align-items:stretch;
}
.editHeaderItem1{
    flex-basis:70%;
    justify-content: flex-start;
}
.editHeaderItem2{
    flex-basis:30%;
    float:right;
    text-align:right;
    padding-right:30px;
    justify-content: flex-end;
}

#SearchPane,#editContentCA{
  display: flex;
  flex-flow: column nowrap;
  width:100%;
  background-color:white;
}

*#editContent:last-child, *#editContentCA:last-child{
    bottom:0;
}
/*=======================================================================*/
/*Header section css*/
/*=======================================================================*/
.bass-searchheader{
  display: flex;
  flex-flow: row nowrap;
  height:70px;
  min-width:1200px!important;
  justify-content:flex-start space-between;
  background-color:cornflowerblue;
  align-items:stretch;
}
.bass-searchheader > *{
  flex:1, 1, 100%;
}
.bass-searchheadersub1{
  display: flex;
  flex-flow: column nowrap;
  justify-content:flex-start;
  width:calc((100vw - 20px) /3);
}
.bass-searchheadersub1 > * {
    flex:1;
}
.bass-searchheadersub1A{
  display: flex;
  flex-flow: column nowrap;
  justify-content:flex-start;
  width:calc((100vw / 3 ) * 2);
}
.bass-searchheadersub1A > * {
    flex:1;
}
.bass-searchheadersub11{
  display: flex;
  flex-flow: row nowrap;
  justify-content:flex-start;
  width:calc((100vw / 3 ) * 2);
}
.bass-searchheadersub11 > * {
    flex:1;
}
.bass-searchheadersub21{
  display: flex;
  flex-flow: row nowrap;
  width:calc(100vw / 3);
  margin: 2px;
  align-items:stretch;
  justify-content:flex-start;
}
.bass-searchheadersub21:first-child{
    flex:0 50%;
    margin: 2px;
}
.bass-searchheadersub21:last-child{
    flex:1 50%;
}
.bass-searchheadersub2{
  display: flex;
  flex-flow: row nowrap;
  width:calc(100vw / 3);
  margin: 2px;
  align-items:stretch;
  justify-content:flex-start;
}
.bass-searchheadersub2:first-child{
    flex:0 40%;
    margin: 2px;
}
.bass-searchheadersub2:last-child{
    flex:1 calc(100vw / 6 * 60%);
}

/*=======================================================================*/
 #Assignmentwindow{
     overflow-y:hidden!important;
 }
span#Assignmentwindow_wnd_title.k-window-title{
    background-color: cornflowerblue!important;
    height:25px!important;
}
#wndLocation {
    overflow-y: hidden !important;
}

span#wndLocation_wnd_title.k-window-title {
    background-color: cornflowerblue !important;
    height: 25px !important;
}
.parent-flex {
  display: flex;
  flex-flow: row nowrap;
  min-width:1100px!important;
  min-height: 450px!important;
  height:inherit!important;
  padding:0px;
  justify-content: flex-start;
  overflow:hidden;
}

.flex-item-b {
   width:calc((100vw / 2 ) - 80px );
   min-width:450px!important;
   min-height:500px!important;
   margin: 2px;
   overflow:hidden;
}
/*.flex-item-m {
   height: inherit!important;
   min-width: calc((100vw / 12) * 4);
   min-width:400px!important;
   min-height:450px!important;
   margin: 2px;
   overflow:hidden;
}*/
.flex-item-s, .flex-item-a  {
    min-width:calc((100vw / 11) * 3);
    width:calc((100vw / 11) * 3);
    margin-right: 2px;
}

 .flex-checkbox-item {
   height: inherit; 
}
.k-widget {
    margin: 0 0 0px;
    padding: 0;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
}

.k-widget div {
    padding: 0px;
    min-height: 20px;
}
/*===================================*/
/*Offender Details*/
/*====================================*/
.divOffenderMain{
   display: flex;
   flex-flow: column nowrap;
   padding:0px;
   justify-content: flex-start;
   background-color:aliceblue;
}
.divApplicationMain{
   display: flex;
   flex-flow: column nowrap;
   padding:0px;
   justify-content: flex-start;
   background-color:aliceblue;
}
.divCaseNoteFileMain{
   display: flex;
   flex-flow: column nowrap;
   min-width:350px!important;
   min-height:500px!important;
   padding:0px;
   justify-content: flex-start;
   background-color:aliceblue;
   width:inherit!important;
   overflow:auto;
}
.divApplicationMain >* {
    flex: inherit;
}
.divOffenderMain>*{
    flex: inherit;
}
.divCaseNoteFileMain >* {
    flex: inherit;
}
.divOffenderPart1tab{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding:2px;
    margin:2px;
    min-height:30px;
}
.divOffenderPart1tab>* {
     flex: inherit;
}
.divOffenderPart1tr{
    display: flex;
    flex-flow: row nowrap;
    padding:0;
    flex:inherit;
    justify-content: flex-start;
    align-items:stretch;
    min-height:inherit;
    border-radius: 3px;
}
.divOffenderPart1tb{
   FONT-WEIGHT: 500;
   display: flex;
   flex-flow: row nowrap;
   min-width: 0px;
   margin: 2px;
   justify-content:flex-start;
}
.divOffenderPart1tb > *{
    flex:inherit;
}
.divOffenderPart1tbs{
   display: flex;
   flex-flow: row nowrap;
   justify-content:space-between;
   margin: 2px;
}
.divOffenderPart1tbs:first-child{
    flex:inherit;
}
.divOffenderPart1tbs:last-child{
    justify-content:flex-end;
}
.divOffenderPart2tbs{
   display: flex;
   flex-flow: row nowrap;
   justify-content:space-between;
   margin: 2px;
}
.divOffenderPart2tbs:first-child{
    flex:inherit;
    align-items:flex-end;
}
.divOffenderPart2tbs:last-child{
    justify-content:flex-start;
}
.divOffenderPart1tbh{
   display: flex;
   flex-flow: row nowrap;
   padding:0;
   width:100%;
   margin: 0; 
   align-items:stretch;
}
.divOffenderPart1tbh > CDCR{
    flex:1;        
    order: 0; 
}
.divOffenderPart1tbh > CTRL{
    order: 1; 
}
.divOffenderPart1tbh > CNDR{
    order: 2; 
}
.divOffenderPart1tbh > DOB{
    order: 3; 
}
.divOffenderPart1tbh > SSN{
     flex:1;    
    order: 4; 
}
.divOffenderPart1tbh > RELEASE{
    flex:1;        
    order: 0; 
}
.divOffenderPart1tbh > NONE{
    order: 1; 
    width:calc((100vw/3 - 100px)/3);
}
.divOffenderPart1tbh > COUNTY{
    order: 2; 
}
.divOffenderPart1tbv{
   display: flex;
   flex-flow: column nowrap;
   min-width:60px;
   width:calc(100vw/3);
   padding:5px;
   margin: 5px 0px 5px 15px;
   justify-content: flex-start;
   align-items:flex-start;
}
.divOffenderPart1tbv>*{
    flex:inherit;
}
.buttonWidth{
    width:50px;
}
.textareaforcasemanngement {
    min-height:20px;
    padding:1px;
    border-radius: 4px;
    font-size:12px;
    border: 0.5px solid lightgray; 
    background-color:white;
    width:99.8%;
}
.customClass {
        color: #eee;
}
.colorDiff{
    color: forestgreen;
}

.nomargin{
    margin:0px;
    background-color:transparent;
}
.k-input, k-textbox{
    padding:0.5px!important;
}

/*=====================================
    case assignment
=======================================*/
#divSearchAssignment{
    height:130px;
    display: flex;
    flex-flow: row nowrap;
    width:100vw;
    min-width:1100px!important;
    padding:5px;
    justify-content: flex-start;
    background-color:cornflowerblue;
}
#gridCaseAssigned
{
    min-height: 60vh;
    min-width:1400px;
    margin-left:5px;   
}
#gridCaseAssigned> .k-grid-header{
    padding:0px 17px 0px 0px!important;
}
#gridCaseAssigned .k-grid tbody tr{height:20px;}
.collapsible {
  color: mediumblue;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10px;
  height:10px!important;
}

.active, .collapsible:hover {
  background-color: transparent;  /*#555;*/
}

.content {
  overflow: hidden;
}
.k-grid tr > td {
        border-bottom: 1px solid black;
    }
#gridCaseAssigned> .k-grid{
    border:0.1px lightgray solid!important;
    padding:5px;   
}
#gridCaseAssigned>.k-grid tr td {
             border-bottom: 0.1px solid lightgray;
        }
#gridCaseAssigned >.k-grid tbody tr{
    height:20px;
    border:0.1px lightgray solid!important;  
}

#gridCaseAssigned >.k-grid tbody td{
    border:0.1px lightgray solid!important;
    padding:0.2em 0.1em!important;
}

/*==========================================*/
#bassOffender {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    min-height:50vh!important;
        }
    
.panel-wrap {
    max-width: 100VW;
    min-width: 1400px;
    min-height:600px;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    padding:1px;
}

/*=====================================*/
.flex-table {
    display: flex;
    flex-direction: column;
    border: none;  
}
.flex-table thead tr,
.flex-table tbody tr {
    display: flex;
}
.flex-table thead tr th,
.flex-table tbody tr td {
    display: flex;
    flex: 0.5 0 0;
    padding: .5em;
    height:30px;
}
@media screen and (max-width: 100%) {
    .flex-table tbody tr {
        flex-direction: column;
        margin: 1em;
    }
    .flex-table tbody tr td {
        flex-direction: column;
    }
    .flex-table tbody tr td:before {
        display: flex;
        align-items: center;
        content: attr(data-label);
    }
}
