@using BassWebV3.DataAccess

<div style="background-color: silver;height:22px;width:100vw;padding:2px;">
    <center>
        <label style="font-size:12px;height:20px;color: darkcyan;"><B>@BassConstants.ProductionAbout</B></label>
    </center>
</div>
